@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Nuosu+SIL&display=swap');
*{
    padding: 0;
    margin: 0;
    color: #fff;
}
body{
    background-color: #4a81c2;
}
.heading{
    width: 100%;
    text-align: center;
    margin: 2rem;

}
.heading h1{
    font-family: 'Nuosu SIL', serif;
    font-weight: 100;
}

.qoutesBar{
    width: 1280px;
    height: 100%;
    margin: 2rem;
    /* padding: 2rem; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}

.qoutesBar p{
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
}
#sorc{
    font-size: 3rem;
}
.author{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 2rem;
}
.button{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 3rem;

}
.button button{
    width: 10rem;
    height: 3rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #4a81c2;
    background-color: aqua;
}


